.container-passwordreset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Imagem lateral */
.container-imagem-passwordreset {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 0;
}

.img-passwordreset {
    width: 800px;
    height: 550px;
}

/* Caixa azul bebê */
.form-passwordreset {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: darkcyan;
    background-color: #DCE5F1;
    justify-content: center;
}

.form-passwordreset h2 {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    margin-bottom: -5px;
    text-align: center;
    font-weight: 100px;
}

.subtitle-p {
    margin: 25px;
    font-weight: 600;
    text-align: center;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    color: black;
}

/* Container dos inputs */
.form-passwordreset-container {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 9px 10px;
    margin-bottom: 20px;
    border: 1px solid #53a5f7;
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

/* Inputs */
.passwordreset-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    font-size: 15px;
}

/* Ícones */
.img-cadeado {
    font-size: 20px;
    cursor: pointer; /* permite clicar para alternar senha */
}

/* Botão */
.btn-passwordreset {
    padding: 12px 20px;
    background-color: #53a5f7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-passwordreset:hover {
    background-color: #0f7ae5;
}

/* Responsividade */
@media (max-width: 320px) {
    .container-imagem-passwordreset {
        display: none;
    }

    .form-passwordreset {
        width: 100%;
    }

    .form-passwordreset h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .container-passwordreset {
        flex-direction: column;
    }

    .container-imagem-passwordreset {
        display: none;
    }

    .img-passwordreset {
        width: 100%;
        max-width: 0;
    }

    .form-passwordreset {
        width: 100%;
        padding: 20px;
    }

    .container-imagem-passwordreset {
        padding: 0;
    }

    .form-passwordreset h2 {
        font-size: 40px;
    }
}
