.btn {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    background-color: hsl(182, 39%, 44%);
}

.btn:hover {
    background-color: hsl(182, 43%, 47%);
}