.btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    background-color: hsl(182, 39%, 44%);
}

.btn:hover {
    background-color: hsl(182, 43%, 47%);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}