* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container-imagem {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 0;
}

.img-register {
    width: 800px;
    height: 550px;
}







/* .container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
/* min-height: 100vh; */


/* .container-imagem {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
} */
/* .container-imagem {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 0;
} */

/* .img-register {
    width: 90%;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
} */

.right {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: darkcyan;
    background-color: #DCE5F1;
    justify-content: center;
}
/* .right {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: darkcyan;
    background-color: #DCE5F1;
    justify-content: center;

} */

.right h1 {
    font-size: 75px;
    margin-bottom: -5px;
    text-align: center;
    font-weight: 100px;
    margin-bottom: 30px;
}

.right p {
    margin: 20px;
    color: black;
    font-size: 17px;
    margin-bottom: 25px;
    font-weight: 600;
}

.button-register {
    margin-bottom: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

@media (max-width: 768px) {
    .container-register {
        flex-direction: column;
        /* margin-bottom: 20px; */
    }

    .container-imagem {
        display: none;
    }

    .img-register {
        width: 100%;
        margin-right: 0;


    }

    .right {
        width: 100%;
        padding: 20px;
    }

    .container-imagem {

        padding: 0;
    }

}