* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.img-register {
    width: 90%;
    margin-right: 50;
    justify-content: center;
    align-items: center;
    
}
.right {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: darkcyan;
    background-color: #DCE5F1;
    justify-content: center;

}
.right h1 {
    font-size: 60px;
    margin-bottom: -5px;
    text-align: center;
    font-weight: 70;
}
.right p {
margin: 20px;
color: black;
font-size: 17px;
}

.button-register{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}


