.container-tokenreset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container-imagem-tokenreset {
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 50px 0;
}

.img-tokenreset {
  width: 800px;
  height: 550px;
}

.form-tokenreset {
  padding: 60px;
  display: flex;
  flex-direction: column;
  width: 35%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  align-items: center;
  color: darkcyan;
  background-color: #DCE5F1;
  justify-content: center;
}

.form-tokenreset h2 {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  margin-bottom: 10px;
  text-align: center;
}

.subtitle-token {
  margin: 20px;
  font-weight: 600;
  text-align: center;
  font-size: clamp(0.8rem, 1.5rem, 1.2rem);
  color: black;
}

.form-tokenreset-container {
  display: flex;
  width: 100%;
  gap: 5px;
  padding: 9px 10px;
  margin-bottom: 15px;
  border: 1px solid #53a5f7;
  border-radius: 10px;
  background-color: white;
  align-items: center;
}

.tokenreset-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center; /* centraliza o token */
  letter-spacing: 3px; /* espaçamento entre dígitos */
  font-weight: 600;
}

.icon-lock {
  font-size: 22px;
}

.btn-tokenreset {
  padding: 12px 20px;
  background-color: #53a5f7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-tokenreset:hover {
  background-color: #0f7ae5;
}

/* Responsividade */
@media (max-width: 768px) {
  .container-tokenreset {
    flex-direction: column;
  }

  .container-imagem-tokenreset {
    display: none;
  }

  .form-tokenreset {
    width: 100%;
    padding: 20px;
  }

  .form-tokenreset h2 {
    font-size: 28px;
  }
}
