.conteudo {
  padding: 40px 20px;
  background-color: #fff;
}

.blocos {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.bloco-secao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 22px;
  color: #0A3D62;
  margin-top: 70px; 
}

.estrela {
  color: #FFD700;
}


.bloco {
  background-color: #0A3D62;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
}

.bloco p {
  font-size: 15px;
  line-height: 1.6;
}

.valores-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 20px;
}

.valor-card {
  background-color: #0A3D62;
  color: #fff;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.valor-card strong {
  display: block;
  margin-bottom: 8px;
}


@media (max-width: 768px) {
  .valores-container {
    grid-template-columns: 1fr !important;
  }
}