.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

/* Campo de busca centralizado */
.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 50%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

/* Filtros alinhados no meio */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.filters-container select,
.filters-container input {
  min-width: 140px;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

/* Botão pequeno ao lado dos filtros */
.filter-button {
  padding: 6px 14px;
  font-size: 14px;
  background-color: hsl(182, 39%, 44%);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: hsl(182, 39%, 44%);


  background-color: #07405a;
}



/* Responsividade */
@media (max-width: 768px) {
  .search-input {
    width: 90%;
  }

  .filters-container {
    flex-direction: column;
    align-items: stretch;
  }

  .filters-container select,
  .filters-container input,
  .filter-button {
    width: 100%;
    max-width: none;
  }
}