* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container-imagem {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 0;
}

.img-login {
    width: 800px;
    height: 550px;
}

/* width: 90%;
    margin-right: 50;
    justify-content: center;
    align-items: center; */



.form-login {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: darkcyan;
    background-color: #DCE5F1;
    justify-content: center;
}

/* padding: 60px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: darkcyan;
    background-color: #DCE5F1;
    justify-content: center; */





.form-login h1 {
    font-size: 75px;
    margin-bottom: -5px;
    text-align: center;
    font-weight: 100px;
    margin-bottom: 30px;
}

/* font-size: 75px;
    margin-bottom: -5px;
    text-align: center;
    font-weight: 100px; */



.subtitle-p {
    margin: 20px;
    color: black;
    font-size: 17px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* margin: 25px;
    font-weight: 600;
} */

.form-login p {
    color: black;
}

.form-login input {
    position: relative;
    width: 100%;
    padding: 9px 10px;
    margin-bottom: 10px;
    border: 1px solid #53a5f7;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding-right: 40px;
}

.input-group .img-usuário {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.input-groupcadeado {
    position: relative;
    width: 100%;
}

.input-groupcadeado input {
    width: 100%;
    padding-right: 40px;
}

.input-groupcadeado .img-cadeado {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    font-size: 21px;
}


@media (max-width: 768px) {
    .container-login {
        flex-direction: column;

    }

    .container-imagem {
        display: none;
    }

    .img-login {
        width: 100%;
        max-width: 0;
    }

    .form-login {
        width: 100%;
        padding: 20px;
    }

}
.img-login {
   width: 800px;
   height: 550px;
   
}
.underline-login {
    text-decoration: underline;
    cursor: pointer;
    margin:  25px 0;
}
.img-cadeado {
    position: absolute;
    right: 54px;
    top: 54%;
   transform: translateY(-50%);
   z-index: 10;
   width: 60px;
   font-size: 21px; /*aqui precisa usar o font size para aumentar o tamanho do icone, porque a imagem que foi usada foi da biblioteca*/



    .input-group.img-usuário {
        width: 18px;
        height: 10px;
    }

    .input-group.img-cadeado {
        width: 18px;
        height: 10px;
        
    }

    /* .img-usuário {
        position: absolute;
        right: 70px;
        top: 47%;
        transform: translateY(-50%);
        z-index: 10;
        width: 30px;

    } */
}