
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #0a3d62; 
  padding: 0 30px;
  box-sizing: border-box;
  
}



.header-logo img {
  height: 68px;
  cursor: pointer;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header-nav {
  display: flex;
  gap: 40px; 
  color: white;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}



.login img {
  width: 26px;
  height: auto;
   filter: brightness(0) invert(1);
}

.login {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

