.event-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.event-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.event-card-content {
  padding: 16px;
}

.event-category {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #0A3D62;
  margin-bottom: 8px;
}

.event-title {
  font-size: 18px;
  margin: 0 0 8px;
  color: #333;
}

.event-date,
.event-location {
  font-size: 14px;
  color: #555;
  margin: 4px 0;
}

.event-card button {
  margin-top: 12px;
  padding: 8px 12px;
  background-color: hsl(182, 39%, 44%);

  color: #fff;
  border: none;

  cursor: pointer;
  font-size: 14px;
}

.event-card button:hover {
  background-color: #07405a;
}