/* .main-event {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.main-event h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-event p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.main-event button {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */
.main-event-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-event-image {
    max-height: 200px;
  }
}

.main-event {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.main-event h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-event p {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-event {
    padding: 15px;
  }

  .main-event h2 {
    font-size: 20px;
  }

  .main-event p {
    font-size: 14px;
  }
}
